[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
sqlalchemy = "*"
streamlit = "*"
psycopg2 = "*"
langchain = "==0.2.3"
langchain-openai = "==0.1.8"

[dev-packages]
pytest = "*"
pytest-docker = "*"

[requires]
python_version = "3.12"
